*.beam
*.log
*.dat
.vscode
slave.out
.arweave.plt
testlog
apps/arweave/priv/tls
apps/arweave/priv/*.so
_build
.rebar3
apps/arweave/c_src/*.o
data_test_master
data_test_slave
erl_crash.dump
tags
metrics
blocks
txs
hash_lists
wallet_lists
wallets
logs
!bin/logs
ebin
metrics_master
metrics_slave
