*.beam
*.log
*.dat
.vscode
slave.out
cm_miner_1.out
cm_miner_2.out
cm_miner_3.out
*.code-workspace
.arweave.plt
testlog
debug_logs
apps/arweave/priv/tls
apps/arweave/priv/*.so
_build
.rebar3
apps/arweave/c_src/**/*.o
apps/arweave/c_src/tests/tests
data_test_master
data_test_slave
data_test_cm_miner_1
data_test_cm_miner_2
data_test_cm_miner_3
erl_crash.dump
tags
metrics
blocks
txs
hash_lists
wallet_lists
wallets
logs
!bin/logs
ebin
metrics_master
metrics_slave
metrics_cm_miner_1
metrics_cm_miner_2
metrics_cm_miner_3
release/output
