*.beam
*.log
*.dat
.vscode
*.out
*.code-workspace
.arweave.plt
testlog
debug_logs
apps/arweave/priv/tls
apps/arweave/priv/*.so
_build
.rebar3
apps/arweave/c_src/**/*.o
apps/arweave/c_src/tests/tests
data_test_*
erl_crash.dump
tags
metrics
blocks
txs
hash_lists
wallet_lists
wallets
logs
!bin/logs
ebin
metrics_*
release/output
