{deps, [
	{b64fast, {git, "https://github.com/ArweaveTeam/b64fast.git", {ref, "a0ef55ec66ecf705848716c195bf45665f78818a"}}},
	{jiffy, "0.15.2"},
	{gun, "1.3.2"},
	{cowboy, "2.7.0"},
	{graphql, {git, "https://github.com/shopgun/graphql-erlang.git", {branch, "master"}}},
	{prometheus, "4.4.1"},
	{prometheus_process_collector, "1.4.5"},
	{prometheus_cowboy, {git, "https://github.com/ArweaveTeam/prometheus-cowboy.git", {ref, "3386d21191527831fd4480178633d1bb5aed253b"}}},
	{rocksdb, {git, "https://gitlab.com/barrel-db/erlang-rocksdb.git", {tag, "1.5.1"}}}
]}.

{relx, [
	{release, {arweave, "2.0.0.4"}, [
		arweave,
		sasl,
		os_mon,
		ar_sqlite3,
		b64fast,
		jiffy,
		gun,
		cowboy,
		graphql,
		prometheus,
		prometheus_process_collector,
		prometheus_cowboy
	]},

	{sys_config, "./config/sys.config"},
	{vm_args_src, "./config/vm.args.src"},

	{overlay, [
		{copy, "scripts/start", "bin/start"},
		{copy, "scripts/stop", "bin/stop"},
		{copy, "bin/logs", "bin/logs"},
		{copy, "bin/check-nofile", "bin/check-nofile"},
		{copy, "scripts/remove-old-wallet-lists", "bin/remove-old-wallet-lists"},
		{copy, "data/not_found.html", "data/not_found.html"},
		{copy, "data/genesis_wallets.csv", "data/genesis_wallets.csv"},
		{copy, "data/genesis_txs", "data/genesis_txs"}
	]},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}
]}.

{pre_hooks, [
	{"(linux|darwin)", compile, "bash -c \"mkdir -p apps/arweave/lib/RandomX/build && cd apps/arweave/lib/RandomX/build && cmake .. > /dev/null\""},
	{"(linux|darwin)", compile, "make -C apps/arweave/lib/RandomX/build"},
	{"(linux)", compile, "env AR=gcc-ar make -C apps/arweave/c_src"},
	{"(darwin)", compile, "make -C apps/arweave/c_src"}
]}.
{post_hooks, [
	{"(linux|darwin)", clean, "bash -c \"if [ -d apps/arweave/lib/RandomX/build ]; then make -C apps/arweave/lib/RandomX/build clean; fi\""},
	{"(linux|darwin)", clean, "make -C apps/arweave/c_src clean"}
]}.

{profiles, [
	{prod, [
		{relx, [
			{dev_mode, false},
			{include_erts, true}
		]}
	]},
	{test, [
		{deps, [{meck, "0.8.13"}]},
		{erl_opts, [{d, 'DEBUG', debug}]}
	]}
]}.
