{project_app_dirs, []}.
{src_dirs, []}.

{deps, [
    jiffy,
    cowboy,
    prometheus,
    prometheus_process_collector,
    prometheus_cowboy,
    graphql
]}.

{overrides, [
    {override, prometheus, [{plugins, []}]},
    {override, prometheus_process_collector, [{plugins, []}]},
    {override, prometheus_httpd, [{plugins, []}]},
    {override, prometheus_cowboy, [{plugins, []}]},
    {override, graphql, [{plugins, []}]}
]}.

{profiles, [{test, [{deps, [{meck, "0.8.13"}]}]}]}.
