[
	{arweave, []},
	{kernel, [
		{inet_dist_use_interface, {127, 0, 0, 1}},
		{logger_level, all},
		{logger, [{handler, default, logger_std_h, #{
				level => warning,
				formatter => {
					logger_formatter, #{
						legacy_header => false,
						single_line => true,
						chars_limit => 16256,
						max_size => 8128,
						depth => 256,
						template => [time," [",level,"] ",mfa,":",line," ",msg,"\n"]
					}
				}
			}
		}]}
	]},
	{sasl, [
		{sasl_error_logger, false}
	]},
	{prometheus, [
		{cowboy_instrumenter, [
			{duration_buckets, [infinity]},
			{request_labels, [http_method, route, reason, status_class]},
			{error_labels, [http_method, route, reason, error]},
			{labels_module, ar_prometheus_cowboy_labels}
		]},
		{vm_system_info_collector_metrics, []},
		{vm_msacc_collector_metrics, []},
		{vm_dist_collector_metrics, []}
	]}
].
