[
	{arweave, []},
	{kernel, [
		{inet_dist_use_interface, {127, 0, 0, 1}}
	]},
	{sasl, [
		{sasl_error_logger, false}
	]},
	{prometheus, [
		{cowboy_instrumenter, [
			{request_labels, [http_method, route, reason, status_class]},
			{error_labels, [http_method, route, reason, error]},
			{labels_module, ar_prometheus_cowboy_labels}
		]}
	]}
].
