[{elvis, [
  {config, [
    #{dirs => ["src", "test"],
      filter => "*.erl",
      rules => [
        {elvis_style, line_length, #{limit => 80}},
        {elvis_style, dont_repeat_yourself, #{min_complexity => 30}},
        {elvis_style, operator_spaces, disable},
        {elvis_style, invalid_dynamic_call, disable},
        {elvis_style, variable_naming_convention, #{regex => "^([_A-Z][0-9a-zA-Z]*)$"}},
        {elvis_style, function_naming_convention, #{regex => "^([a-z_][a-z0-9]*_?)*$"}}
      ],
      ruleset => erl_files
    },
    #{dirs => ["."],
      filter => "rebar.config",
      ruleset => rebar_config,
      rules => [
        {elvis_project, protocol_for_deps_rebar, disable} %% until elvis supports pkgs with versions
      ]
    },
    #{dirs => ["."],
      filter => "elvis.config",
      ruleset => elvis_config
    }
  ]}
]}].
