%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_opts, [ warn_unused_vars
           , warn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           , debug_info
           , {platform_define, "R1[45]", no_binary_to_integer}]}.

{profiles, [
  {test, [
    {deps, [ {katana_test, {git, "https://github.com/inaka/katana-test.git", {tag, "0.0.5"}}}
           , {mixer,       {git, "https://github.com/inaka/mixer.git",       {tag, "0.1.5"}}}
           , {meck,        "0.8.4"}
           , {xref_runner, {git, "https://github.com/inaka/xref_runner",     {tag, "0.2.6"}}}
    ]}
  ]}
]}.

%% == Common Test ==

{ct_compile_opts, [ warn_unused_vars
                  , warn_export_all
                  , warn_shadow_vars
                  , warn_unused_import
                  , warn_unused_function
                  , warn_bif_clash
                  , warn_unused_record
                  , warn_deprecated_function
                  , warn_obsolete_guard
                  , strict_validation
                  , warn_export_vars
                  , warn_exported_vars
                  , debug_info]}.

{ct_opts, [ {sys_config, ["test/test.config"]}
          , {logdir, "./logs"}
          , {verbose, true}
          ]}.

%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%% == Dependencies ==

{deps, []}.

%% == Dialyzer ==

{dialyzer, [ {warnings, [ no_return
                        , unmatched_returns
                        , error_handling
                        ]}
           , {plt_apps, top_level_deps}
           , {plt_extra_apps, []}
           , {plt_location, local}
           , {base_plt_apps, [stdlib, kernel]}
           , {base_plt_location, global}]}.