######################################################################
# On demand test suite, used to select only one test to run. Only
# support ubuntu for now.
######################################################################
name: "On Demand Test"

on:
  workflow_dispatch:
    inputs:
      test:
        description: select a test to execute
        type: choice
        options:
          - ar
          - ar_base64_compatibility_tests
          - ar_block
          - ar_block_cache
          - ar_chain_stats
          - ar_chunk_copy
          - ar_chunk_storage
          - ar_config_tests
          - ar_coordinated_mining_tests
          - ar_data_sync_disk_pool_rotation_test
          - ar_data_sync_enqueue_intervals_test
          - ar_data_sync_mines_off_only_last_chunks_test
          - ar_data_sync_mines_off_only_second_last_chunks_test
          - ar_data_sync_recovers_from_corruption_test
          - ar_data_sync_syncs_after_joining_test
          - ar_data_sync_syncs_data_test
          - ar_data_sync_coordinator
          - ar_deep_hash
          - ar_device_lock
          - ar_diff_dag
          - ar_difficulty_tests
          - ar_entropy_gen
          - ar_entropy_cache
          - ar_entropy_storage
          - ar_ets_intervals
          - ar_events
          - ar_fork_recovery_tests
          - ar_get_chunk_tests
          - ar_header_sync_tests
          - ar_http_iface_tests
          - ar_http_util_tests
          - ar_inflation
          - ar_info_tests
          - ar_intervals
          - ar_join
          - ar_kv
          - arweave_limiter_group
          - arweave_limiter_metrics_collector
          - ar_mempool_tests
          - ar_merkle
          - ar_mine_randomx_tests
          - ar_mine_vdf_tests
          - ar_mining_cache
          - ar_mining_io_tests
          - ar_mining_server
          - ar_mining_stats
          - ar_mining_worker_tests
          - ar_node
          - ar_node_utils
          - ar_nonce_limiter
          - ar_p3
          - ar_p3_config
          - ar_p3_db
          - ar_packing_server
          - ar_packing_tests
          - ar_patricia_tree
          - ar_peers
          - ar_peer_intervals
          - ar_peer_intervals_discovery_test
          - ar_peer_worker
          - ar_poa
          - ar_poller_tests
          - ar_pool
          - ar_post_block_tests
          - ar_pricing
          - ar_reject_chunks_tests
          - ar_repack
          - ar_repack_fsm
          - ar_replica_2_9
          - ar_replica_2_9_nif_tests
          - ar_retarget
          - ar_semaphore_tests
          - ar_serialize
          - ar_start_from_block_tests
          - ar_storage
          - ar_storage_module
          - ar_sync_buckets
          - ar_sync_record
          - ar_tx
          - ar_tx_blacklist_tests
          - ar_tx_db
          - ar_tx_replay_pool_tests
          - ar_unbalanced_merkle
          - ar_util
          - ar_vdf_external_update_tests
          - ar_vdf_server_tests
          - ar_vdf_tests
          - ar_verify_chunks
          - ar_wallet
          - ar_webhook
        required: true

jobs:
  build:
    uses: ./.github/workflows/x-build.yml
    secrets: inherit

  test-canary:
    needs: [build]
    uses: ./.github/workflows/x-test-canary.yml
    secrets: inherit

  on-demand-test:
    needs: [test-canary]
    uses: ./.github/workflows/x-test-on-demand.yml
    secrets: inherit
    with:
      test: ${{ inputs.test }}
