######################################################################
# Full Arweave Test Suite. Mostly used on Linux like systems.
######################################################################
name: "arweave-common-test-suite"

on:
  workflow_call:
    inputs:
      os_arch:
        description: "operating system architecture"
        default: "amd64"
        type: "string"
      os_name:
        description: "operating system name"
        default: "ubuntu"
        type: "string"
      os_release:
        description: "operating system release"
        default: "22.04"
        type: "string"

env:
  cache_key: ${{ inputs.os_arch }}-${{ inputs.os_name }}-${{ inputs.os_release }}

####################################################################
# Test modules (note: that _tests are implicitly run by a matching
# prefix name
####################################################################
jobs:
  common-test-suite:
    runs-on:
      - self-hosted
      - build-runner
      - ${{ inputs.os_arch }}
      - ${{ inputs.os_name }}
      - ${{ inputs.os_release }}
    steps:
      - name: cleanup
        if: always()
        run: |
          rm -rf "${GITHUB_WORKSPACE}" && mkdir -p "${GITHUB_WORKSPACE}"

      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-${{ github.sha }}-${{ env.cache_key }}

      # Both artifacts (_build and apps dir) are
      # required.
      - name: Extract artifact
        run: |
          tar zxfp _build.tar.gz
          tar zxfp apps.tar.gz

      # This is a temporary fix to prevent test failures when
      # executing the test suite on a system like MacOS. The libraries
      # must be rebuilt due to CMake full path usage, if CMake is
      # re-used on another user (then with a different full path), it
      # will fail. Here, we force to clean all external libraries
      # objects before executing the test.
      - name: temporary external libraries fix
        run: make -C apps/arweave/lib clean

      # execute common test suite with test profile and coverage
      # enabled.
      - name: run common test suite
        id: common-tests
        run: |
          ./rebar3 as test ct \
            --cover \
            --verbose \
            --logdir _ct_logs

      # execute eunit in standalone on only a small subset of
      # application available. Because arweave main application is
      # using eunit for its test suite in a specific way, testing this
      # application will crash the test suite.
      - name: run eunit test suite
        id: eunit
        run: |
          ./rebar3 as test eunit \
            --cover \
            --application arweave_config

      # generate coverage report, it will be stored in
      # _build/test/cover directory
      - name: run cover
        id: cover
        run: |
          ./rebar3 as test cover \
            --verbose

      # upload test coverage report as artifact.
      - name: upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: "coverage-common_test-${{ github.run_attempt }}-${{ job.status }}-${{ runner.name }}-${{ github.sha }}"
          retention-days: 7
          overwrite: true
          include-hidden-files: true
          path: |
            ./_build/test/cover

      # this part of the job produces test artifacts from logs
      # generated by the tests. It also collect dumps and the files
      # present in .tmp (temporary arweave data store)
      - name: upload artifacts in case of failure
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "logs-common_test-${{ github.run_attempt }}-${{ job.status }}-${{ runner.name }}-${{ github.sha }}"
          retention-days: 7
          overwrite: true
          include-hidden-files: true
          path: |
            ./_ct_logs
            ./logs


